<div class="background-projects">
    <div class="projects">
        <div class="border-style">
            <div class="picture">
                <img src= "../../assets/doctor_homme_coth.png">
            </div>
            <div class="desc">
                <h2>{{ rpgTitle }}</h2>
                <p>
                    {{ rpgDesc }}
                </p>
                <a href="https://github.com/SaliesJulien/MUL_my_rpg_2018" target="_blank">{{ source }}</a>
            </div>
        </div>
        <div class="border-style">
            <div class="picture">
                <img src= "../../assets/doctor_homme_coth.png">
            </div>
            <div class="desc">
                <h2>{{ imageCompTitle }}</h2>
                <p>
                    {{ imageCompDesc }}
                </p>
                <a href="https://gitlab.com/JulienSaliesEpitech/fun_imagecompressor_2019" target="_blank">{{ source }}</a>
            </div>
        </div>
    </div>
    <div class="projects">
        <div class="border-style">
            <div class="picture">
                <img src= "../../assets/doctor_homme_coth.png">
            </div>
            <div class="desc">
                <h2>{{ ftpTitle }}</h2>
                <p>
                    {{ ftpDesc }}
                </p>
                <a href="https://github.com/SaliesJulien/NWP_myftp_2019" target="_blank">{{ source }}</a>
            </div>
        </div>
        <div class="border-style">
            <div class="picture">
                <img src= "../../assets/doctor_homme_coth.png">
            </div>
            <div class="desc">
                <h2>{{ tradeTitle }}</h2>
                <p>
                    {{ tradeDesc }}
                </p>
                <a href="https://github.com/SaliesJulien/CNA_trade_2019" target="_blank">{{ source }}</a>
            </div>
        </div>
    </div>
    <div class="projects">
        <div class="border-style">
            <div class="picture">
                <img src= "../../assets/doctor_homme_coth.png">
            </div>
            <div class="desc">
                <h2>{{ arcadeTitle }}</h2>
                <p>
                    {{ arcadeDesc }}
                </p>
                <a href="https://gitlab.com/JulienSaliesEpitech/oop_arcade_2019" target="_blank">{{ source }}</a>
            </div>
        </div>
        <div class="border-style">
            <div class="picture">
                <img src= "../../assets/doctor_homme_coth.png">
            </div>
            <div class="desc">
                <h2>{{ jamTitle }}</h2>
                <p>
                    {{ jamDesc }}
                </p>
                <a href="https://gitlab.com/JulienSaliesEpitech/epitechjam2" target="_blank">{{ source }}</a>
            </div>
        </div>
    </div>
    <div class="botnav">
        <p>Crée par moi-même</p>
    </div>
</div>