<div class="presentation-background">
    <div class="presentation">
        <div class="text-presentation">
            <h3>{{ title }}</h3>
            <p>{{ description}}</p>
        </div>
    </div>
    <div class="pictures">
        <div class="presentation-images">
            <img src= "../../assets/expiscine.jpg">
            <img src= "../../assets/excentre.jpg">
            <img src= "../../assets/exbureau.jpg">
        </div>
        <div class="presentation-images">
            <img src= "../../assets/expres.jpg">
            <img src= "../../assets/exdetente.jpg">
            <img src= "../../assets/bienetre.jpg">
        </div>
    </div>
    <div class="botnav">
        <p>Crée par Julien Salies</p>
    </div>
</div>
