<div class="background-contact">
    <div class="contact-header">
        <p>{{ description }}</p>
        <h1>{{ title }}</h1>
    </div>
    <div class="contact">
        <a href="https://www.linkedin.com/in/julien-salies-35679617a/"  target="_blank">
            <img src= "../../assets/Logo-LinkedIn.png">
        </a>
        <a href="https://github.com/SaliesJulien"  target="_blank">
            <img src= "../../assets/github.png">
        </a>
        <a href="https://gitlab.com/JulienSaliesEpitech"  target="_blank">
            <img src= "../../assets/gitlab.png">
        </a>
    </div>
    <div class="botnav">
        <p>Crée par moi-même</p>
    </div>
</div>