@media (max-width: 480px) {
    :host {
        display: none;
    }
}

@media (min-width: 480px) {
    :host {
        display: flex;
        overflow: auto;
        flex-grow: 1;
    }
    .background-contact {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        .contact-header {
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            height: 20%;
        }
        .contact {
            margin-top: 60px;
            flex-grow: 1;
            height: auto;
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            img {
                margin-top: 50px;
                height: 100px;
                width: 120px;
            }
        }
        .botnav {
            margin-top: 70px;
            display: flex;
            justify-content: center;
            background-color: #333;
            p {
                color: white;
            }
        }
    }
}
