<div class="background-contact">
    <div class="contact-header">
        <p>{{ description }}</p>
        <h1>{{ title }}</h1>
    </div>
    <div class="contact">
        <h3><i class="fa fa-fw fa-phone"></i>01.02.03.04.05</h3>
        <a href="https://www.facebook.com/vero.elias.96155"  target="_blank">
            <img src= "../../assets/Logo-Facebook-png.png">
        </a>
        <a href="https://github.com/SaliesJulien"  target="_blank">
            <img src= "../../assets/github.png">
        </a>
        <a href="https://gitlab.com/JulienSaliesEpitech"  target="_blank">
            <img src= "../../assets/gitlab.png">
        </a>
    </div>
    <div class="botnav">
        <p>Crée par moi-même</p>
    </div>
</div>