<div class="location-background">
    <div class="location-presentation">
        <div class="text-title">
            <h2>{{ titleHeader}}</h2>
        </div>
        <div class="text-presentation">
            <p></p>
        </div>
    </div>
    <div class="location-list">
        <div class="location">
            <div class="border-style">
                <div class="desc">
                    <h2>{{ title }}</h2>
                    <p>
                        {{ description }}
                    </p>
                </div>
                <div class="images">
                  <img class="last-image" src= "../../assets/pres/IMG_1867.JPG">
                </div>
                <div class="prices">
                    <h4>{{ contactUs }}</h4>
                </div>
            </div>
        </div>
        <div class="location">
            <div class="border-style">
                <div class="desc">
                    <h2>{{ deskTitle }}</h2>
                    <p>
                        {{ deskDesc }}
                    </p>
                </div>
                <div class="images">
                  <img src= "../../assets/pres/IMG_1868.JPG">
                </div>
                <div class="prices">
                    <h4>{{ contactUs }}</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="botnav">
        <p>Crée par Julien Salies</p>
        <a href="https://www.linkedin.com/in/julien-salies-35679617a/"  target="_blank">
          <img src="../../assets/link.webp"></a>
    </div>
</div>
