<div class="background-projects">
    <div class="doctors-presentation">
        <div class="text-title">
            <h2>Notre équipe</h2>
        </div>
        <div class="text-presentation">
            <p>Toute l'équipe de thérapeutes du Centre Uni Vers est à votre service pour vous accompagner dans vos difficultés, vos questionnements, vos recherches, vos besoins d'écoute et de conseils. Nous sommes tous diplômés et formés dans notre spécialité, et forts de notre complémentarité, nous saurons, les uns et les autres vous orienter vers l’approche la plus adaptée à vos besoins.</p>
        </div>
    </div>
    <div class="doctors">
        <div class="doctor">
            <div class="border-style">
                <div class="picture">
                    <img src= "../../assets/doctor_homme_coth.png">
                </div>
                <div class="desc">
                    <h2>{{ rpgTitle }}</h2>
                    <p>
                        {{ rpgDesc }}
                    </p>
                    <a href="https://github.com/SaliesJulien/MUL_my_rpg_2018" target="_blank">{{ source }}</a>
                </div>
                <div class="doctor-contacts">
                    <p>sur rendez-vous</p>
                    <p>07 81 22 86 52</p>
                    <p>farrisabelle@gmail.com</p>
                </div>
            </div>
            <div class="border-style">
                <div class="picture">
                    <img src= "../../assets/doctor_homme_coth.png">
                </div>
                <div class="desc">
                    <h2>{{ imageCompTitle }}</h2>
                    <p>
                        {{ imageCompDesc }}
                    </p>
                    <a href="https://gitlab.com/JulienSaliesEpitech/fun_imagecompressor_2019" target="_blank">{{ source }}</a>
                </div>
                <div class="doctor-contacts">
                    <p>sur rendez-vous</p>
                    <p>07 68 96 13 07</p>
                    <p>luxo66@orange.fr</p>
                </div>
            </div>
        </div>
        <div class="doctor">
            <div class="border-style">
                <div class="picture">
                    <img src= "../../assets/doctor_homme_coth.png">
                </div>
                <div class="desc">
                    <h2>{{ ftpTitle }}</h2>
                    <p>
                        {{ ftpDesc }}
                    </p>
                    <a href="https://github.com/SaliesJulien/NWP_myftp_2019" target="_blank">{{ source }}</a>
                </div>
                <div class="doctor-contacts">
                    <p>sur rendez-vous</p>
                    <p>06 76 56 21 78</p>
                    <p>flonaturo@sfr.fr</p>
                </div>
            </div>
            <div class="border-style">
                <div class="picture">
                    <img src= "../../assets/doctor_homme_coth.png">
                </div>
                <div class="desc">
                    <h2>{{ tradeTitle }}</h2>
                    <p>
                        {{ tradeDesc }}
                    </p>
                    <a href="https://github.com/SaliesJulien/CNA_trade_2019" target="_blank">{{ source }}</a>
                </div>
                <div class="doctor-contacts">
                    <p>sur rendez-vous</p>
                    <p>06 25 17 05 91</p>
                    <p>gazocaro@orange,fr</p>
                </div>
            </div>
        </div>
        <div class="doctor">
            <div class="border-style">
                <div class="picture">
                    <img src= "../../assets/doctor_homme_coth.png">
                </div>
                <div class="desc">
                    <h2>{{ arcadeTitle }}</h2>
                    <p>
                        {{ arcadeDesc }}
                    </p>
                    <a href="https://gitlab.com/JulienSaliesEpitech/oop_arcade_2019" target="_blank">{{ source }}</a>
                </div>
                <div class="doctor-contacts">
                    <p>sur rendez-vous</p>
                    <p>06 02 08 74 59</p>
                    <p>Imma-praticienne,mtc@orange.fr</p>
                </div>
            </div>
            <div class="border-style">
                <div class="picture">
                    <img src= "../../assets/doctor_homme_coth.png">
                </div>
                <div class="desc">
                    <h2>{{ jamTitle }}</h2>
                    <p>
                        {{ jamDesc }}
                    </p>
                    <a href="https://gitlab.com/JulienSaliesEpitech/epitechjam2" target="_blank">{{ source }}</a>
                </div>
                <div class="doctor-contacts">
                    <p>sur rendez-vous</p>
                    <p>06 48 66 66 51</p>
                    <p>osteovinca@mailfence.com</p>
                </div>
            </div>
        </div>
        <div class="doctor">
            <div class="border-style">
                <div class="picture">
                    <img src= "../../assets/doctor_homme_coth.png">
                </div>
                <div class="desc">
                    <h2>{{ doctor7Name }}</h2>
                    <p>
                        {{ doctor7Desc }}
                    </p>
                    <a href="https://gitlab.com/JulienSaliesEpitech/oop_arcade_2019" target="_blank">{{ source }}</a>
                </div>
                <div class="doctor-contacts">
                    <p>sur rendez-vous</p>
                    <p>06 19 11 21 68</p>
                    <p>brigitte,coach@gmail.com</p>
                </div>
            </div>
            <div class="border-style">
                <div class="picture">
                    <img src= "../../assets/doctor_homme_coth.png">
                </div>
                <div class="desc">
                    <h2>{{ doctor8Name }}</h2>
                    <p>
                        {{ doctor8Desc }}
                    </p>
                    <a href="https://gitlab.com/JulienSaliesEpitech/epitechjam2" target="_blank">{{ source }}</a>
                </div>
                <div class="doctor-contacts">
                    <p>sur rendez-vous</p>
                    <p>07 81 63 01 45</p>
                    <p>unknown@gmail.com</p>
                </div>
            </div>
        </div>
        <div class="doctor">
            <div class="border-style">
                <div class="picture">
                    <img src= "../../assets/doctor_homme_coth.png">
                </div>
                <div class="desc">
                    <h2>{{ doctor9Name }}</h2>
                    <p>
                        {{ doctor9Desc }}
                    </p>
                    <a href="https://gitlab.com/JulienSaliesEpitech/oop_arcade_2019" target="_blank">{{ source }}</a>
                </div>
                <div class="doctor-contacts">
                    <p>sur rendez-vous</p>
                    <p>06 37 39 81 90</p>
                    <p>Math,bousquet66@gmail.com</p>
                </div>
            </div>
            <div class="border-style">
                <div class="picture">
                    <img src= "../../assets/doctor_homme_coth.png">
                </div>
                <div class="desc">
                    <h2>{{ doctor10Name }}</h2>
                    <p>
                        {{ doctor10Desc }}
                    </p>
                    <a href="https://gitlab.com/JulienSaliesEpitech/epitechjam2" target="_blank">{{ source }}</a>
                </div>
                <div class="doctor-contacts">
                    <p>sur rendez-vous</p>
                    <p>06 16 37 85 12</p>
                    <p>eliasvero66500@gmail.com</p>
                </div>
            </div>
        </div>
        <div class="doctor">
            <div class="border-style">
                <div class="picture">
                    <img src= "../../assets/doctor_homme_coth.png">
                </div>
                <div class="desc">
                    <h2>{{ doctor11Name }}</h2>
                    <p>
                        {{ doctor11Desc }}
                    </p>
                    <a href="https://gitlab.com/JulienSaliesEpitech/oop_arcade_2019" target="_blank">{{ source }}</a>
                </div>
                <div class="doctor-contacts">
                    <p>sur rendez-vous</p>
                    <p>06 45 37 13 93</p>
                    <p>lolocase@orange.fr</p>
                </div>
            </div>
            <div class="border-style">
                <div class="picture">
                    <img src= "../../assets/doctor_homme_coth.png">
                </div>
                <div class="desc">
                    <h2>{{ doctor12Name }}</h2>
                    <p>
                        {{ doctor12Desc }}
                    </p>
                    <a href="https://gitlab.com/JulienSaliesEpitech/epitechjam2" target="_blank">{{ source }}</a>
                </div>
                <div class="doctor-contacts">
                    <p>sur rendez-vous</p>
                    <p>06 73 36 90 07</p>
                    <p>Aliji,flora@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
    <div class="botnav">
        <p>Crée par moi-même</p>
    </div>
</div>