<div class="background-projects">
    <div class="doctors-presentation">
        <div class="text-title">
            <h2>Notre équipe</h2>
        </div>
        <div class="text-presentation">
            <p>Toute l'équipe de thérapeutes du Centre est là pour vous servir et pour vous accompagner dans vos difficultés, vos questionnements, vos recherches, vos besoins d'écoute et de conseils. Tous diplômés et formés dans leur spécialité, et forts de leur complémentarité, ils sauront, les uns et les autres vous Orienter vers l’approche la plus adaptée à vos besoins.</p>
        </div>
    </div>
    <div class="doctors">
        <div class="doctor">
            <div class="border-style">
                <div class="picture">
                    <img src= "../../assets/ProfilePicture/isabellefarre.png">
                </div>
                <div class="desc">
                    <h2>{{ doctor1Name }}</h2>
                    <p class="job">MASSEUSE BIEN-ETRE</p>
                    <p>
                        {{ doctor1Desc }}
                    </p>
                </div>
                <div class="doctor-contacts">
                    <p>sur rendez-vous</p>
                    <p>07 81 22 86 52</p>
                    <p>farrisabelle@gmail.com</p>
                </div>
                <a href="../../assets/pdf/about/Isabelle.docx.pdf" target="_blank">{{ source }}</a>
            </div>
            <div class="border-style">
                <div class="picture">
                    <img src= "../../assets/ProfilePicture/jc.png">
                </div>
                <div class="desc">
                    <h2>{{ doctor2Name }}</h2>
                    <p class="job">ACCOMPAGNATEUR BIEN-ETRE</p>
                    <p>
                      {{ doctor2Desc }}
                    </p>
                </div>
                <div class="doctor-contacts">
                    <p>sur rendez-vous</p>
                    <p>07 68 96 13 07</p>
                    <p>luxo66@orange.fr</p>
                </div>
                <a href="../../assets/pdf/about/JC.pdf" target="_blank">{{ source }}</a>
            </div>
            <div class="border-style">
                <div class="picture">
                    <img src= "../../assets/ProfilePicture/florencecambus.png">
                </div>
                <div class="desc">
                    <h2>{{ doctor3Name }}</h2>
                    <p class="job">NATUROPATHE</p>
                    <p>
                        {{ doctor3Desc }}
                    </p>
                </div>
                <div class="doctor-contacts">
                    <p>sur rendez-vous</p>
                    <p>06 76 56 21 78</p>
                    <p>flonaturo@sfr.fr</p>
                </div>
                <a href="../../assets/pdf/about/Florence.pdf" target="_blank">{{ source }}</a>
            </div>
            <div class="border-style">
                <div class="picture">
                    <img src= "../../assets/ProfilePicture/mathildebousquet.jpg">
                </div>
                <div class="desc">
                    <h2>{{ doctor9Name }}</h2>
                    <p class="job">DIETETICIENNE - NUTRITIONNISTE</p>
                    <p>
                        {{ doctor9Desc }}
                    </p>
                </div>
                <div class="doctor-contacts">
                    <p>sur rendez-vous</p>
                    <p>06 37 39 81 90</p>
                    <p>Math.bousquet66@gmail.com</p>
                </div>
                <a href="../../assets/pdf/about/mathilde.pdf" target="_blank">{{ source }}</a>
            </div>
        </div>
        <div class="doctor">
            <div class="border-style">
                <div class="picture">
                    <img class="richard-picture" src= "../../assets/ProfilePicture/Richard.png">
                </div>
                <div class="desc">
                    <h2>{{ doctor4Name }}</h2>
                    <p class="job">
                        {{ doctor4Desc }}
                    </p>
                    <p>Diplôme de l’institut des professionnels de santé EUROSTEO</p>
                </div>
                <div class="doctor-contacts">
                    <p>sur rendez-vous</p>
                    <p>06 48 66 66 51</p>
                </div>
                <!--<a href="https://gitlab.com/JulienSaliesEpitech/epitechjam2" target="_blank">{{ source }}</a>-->
            </div>
            <div class="border-style">
                <div class="picture">
                    <img src= "../../assets/ProfilePicture/brigitte.png">
                </div>
                <div class="desc">
                    <h2>{{ doctor7Name }}</h2>
                    <p class="job">
                        {{ doctor7Desc }}
                    </p>
                </div>
                <div class="doctor-contacts">
                    <p>sur rendez-vous</p>
                    <p>06 19 11 21 68</p>
                    <p>brigitte.coach@gmail.com</p>
                </div>
                <a href="../../assets/pdf/about/Brigitte.pdf" target="_blank">{{ source }}</a>
            </div>
            <div class="border-style">
                <div class="picture">
                    <img src= "../../assets/ProfilePicture/patrick.png">
                </div>
                <div class="desc">
                    <h2>{{ doctor8Name }}</h2>
                    <p class="job">
                        {{ doctor8Desc }}
                    </p>
                </div>
                <div class="doctor-contacts">
                    <p>sur rendez-vous</p>
                    <p>07 81 63 01 45</p>
                    <p>phoenix.contact68@gmail.com</p>
                </div>
                <a href="../../assets/pdf/about/Patrick.pdf" target="_blank">{{ source }}</a>
            </div>
            <div class="border-style">
                <div class="picture">
                    <img src= "../../assets/ProfilePicture/véro.png">
                </div>
                <div class="desc">
                    <h2>{{ doctor10Name }}</h2>
                    <p class="job">
                        {{ doctor10Desc }}
                    </p>
                </div>
                <div class="doctor-contacts">
                    <p>sur rendez-vous</p>
                    <p>06 16 37 85 12</p>
                    <p>veroelias.fleursdebach@gmail.com</p>
                </div>
                <a href="../../assets/pdf/about/Véronique.pdf" target="_blank">{{ source }}</a>
            </div>
        </div>
        <div class="doctor">
            <div class="border-style-last">
                <div class="picture">
                    <img src= "../../assets/doctor_homme_coth.png">
                </div>
                <div class="desc">
                    <h2>{{ doctor11Name }}</h2>
                    <p class="job">
                        {{ doctor11Desc }}
                    </p>
                </div>
                <div class="doctor-contacts">
                    <p>sur rendez-vous</p>
                    <p>06 45 37 13 93</p>
                    <p>lolocase@orange.fr</p>
                </div>
                <!--<a href="https://gitlab.com/JulienSaliesEpitech/oop_arcade_2019" target="_blank">{{ source }}</a>-->
            </div>
            <div class="border-style-last">
                <div class="picture">
                    <img src= "../../assets/ProfilePicture/flora.png">
                </div>
                <div class="desc">
                    <h2>{{ doctor12Name }}</h2>
                    <p class="job">
                        {{ doctor12Desc }}
                    </p>
                </div>
                <div class="doctor-contacts">
                    <p>sur rendez-vous</p>
                    <p>06 73 36 90 07</p>
                    <p>Aliji.flora@gmail.com</p>
                </div>
                <!--<a href="https://gitlab.com/JulienSaliesEpitech/epitechjam2" target="_blank">{{ source }}</a>-->
            </div>
        </div>
    </div>
    <div class="botnav">
        <p>Crée par Julien Salies</p>
    </div>
</div>
